@model Product.Data.Model.ProductFeature

@{
    ViewBag.Title = "Ürün Özelliği Silme";
}

<h2>Ürün Özelliği Silme</h2>

<h3>Ürün özelliği Silmek istediğinizden emin misin?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeatureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeatureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeatureValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeatureValue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Sil" class="btn btn-default" /> |

    @Html.Hidden("productId", Model.ProductId)  @*productId yi Delete Controllerında ındexe yollarken kullanıcam.*@
    @Html.ActionLink("Listeye Dön", "Index", new { id = Model.ProductId })
</div>
    }
</div>
